.IsFavouriteCounterContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.counter {
    font-size: 20px;
    color: white;
    
}

.active svg {
    fill:  gold;
}

