.itemContainer {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: lightgray;
    color: #3C4242;


}

.image {
    width: 20%;
    border-radius: 15px;

}

.addInfo,
.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}



.countButtonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.countButton {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #3C4242;
    color: #3C4242;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.deleteButton {
    background-color: transparent;
    border: none;
}